@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #5a3e2b;
  font-family: sans-serif;
  font-family: Quicksand;
  font-size: 2.4rem;
  font-weight: 500;
}

.App {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  width: 100%;
}

.header {
  color: rgb(13, 86, 232);
}

.header > h1 {
  background-color: #f4a226;
  font-family: Monoton;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: -5px;
  padding: 2.4rem 0;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 30px;
}

.form-field {
  align-items: center;
  background-color: #e5771f;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  padding: 2.8rem 0;
}

.form-field > h3 {
  font-size: 2.4rem;
  margin-right: 1.6rem;
}

button,
input,
select {
  background-color: #ffebb3;
  border: none;
  border-radius: 10rem;
  color: #5a3e2b;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 3.2rem;
}

.list-container {
  align-items: center;
  background-color: #5a3e2b;
  color: #ffebb3;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: space-between;
  padding: 4rem 0;
}

.list-container ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.list-container ul > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
  padding: 5px;
}
.list-container ul > li:nth-child(4n + 0) {
  border-right: solid 1px;
}
.actions {
  margin-top: auto;
}

.actions button,
.actions select {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
  padding: 0.8rem 2.4rem;
  text-transform: uppercase;
}
.list-container ul > li input {
  width: 25px;
  height: 25px;
}
.list-container ul > li button {
  background-color: #ffebb3;
  border: none;
  border-radius: 7rem;
  color: #5a3e2b;
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  width: 25px;
  height: 25px;
  padding: 0;
}
.stats {
  background-color: #76c7ad;
  font-weight: 700;
  padding: 3.2rem 0;
  text-align: center;
}
